@import "tailwindcss";
@plugin "daisyui" {
  prefix: "du-";
  logs: false;
}

* {
  font-family: Comic Sans MS;
}

html {
  @apply bg-neutral-900 overflow-hidden text-white;
}

button {
  @apply cursor-pointer;
}

.no-scrollbar {
  scrollbar-width: none;
}
